In [ ]:
# using sqlalchemy to create a table in a database

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData

# set up the SQLAlchemy engine
engine = create_engine('mssql+pyodbc://user:password@server_name/database_name?driver=ODBC+Driver+17+for+SQL+Server')

# create the metadata object
metadata = MetaData()

# define the table schema
my_table = Table('my_table', metadata,
                 Column('id', Integer, primary_key=True, autoincrement=True),
                 Column('name', String(50)),
                 Column('age', Integer)
                )

# create the table in the database
metadata.create_all(engine)

# create a DataFrame to insert into the table
df = pd.DataFrame({'name': ['Alice', 'Bob'], 'age': [25, 30]})

# insert the DataFrame into the table using Pandas
df.to_sql('my_table', engine, if_exists='append', index=False)