In [3]:
import pandas as pd
from sqlalchemy import create_engine
import urllib

params_source = urllib.parse.quote_plus("DRIVER={ODBC Driver 17 for SQL Server};SERVER=consol5avg2,2486;DATABASE=zenith_gambia;UID=dw_user01;PWD=dw@us3r&0#*1")
engine_source = create_engine("mssql+pyodbc:///?odbc_connect=%s" % params_source)

params_destination = urllib.parse.quote_plus("DRIVER={SQL Server};SERVER=SV001SQL07\ZBCONSDB2;DATABASE=zenith_gambia;UID=dw_user01;PWD=password123")
engine_destination = create_engine("mssql+pyodbc:///?odbc_connect=%s" % params_destination)

In [ ]:
table_list = ['cm_account_code']

for a in table_list:

    sql = f"""

    SELECT * FROM {a}

    """
    df = pd.read_sql(sql,engine_source)

    df.to_sql(f'{a}', con = engine_destination, if_exists = 'append', schema='dbo',index=False)

In [11]:
table_list = ['cm_account_code']



sql = f"""

SELECT * FROM cm_account_code

"""
df = pd.read_sql(sql,engine_source)
df = df[['account_code', 'account_desc', 'account_type', 'acc_amount', 'org_id']]

df.to_sql('cm_account_code', con = engine_destination, if_exists = 'append', schema='dbo',index=False)

-1

In [ ]:
engine_source = create_engine("mssql+pyodbc://dw_user01:password123@consol5avg2:2486/zenith_gambia?driver=ODBC+Driver+13+for+SQL+Server")

In [4]:
sql = f"""

SELECT * FROM [cm_advanced_alerts]

"""
df = pd.read_sql(sql,engine_source)

In [8]:
df = df[['account_code', 'account_desc', 'account_type', 'acc_amount', 'org_id']]

In [9]:
df

    account_code               account_desc  account_type  acc_amount  org_id
0     1010615981  PERSONAL LOAN (PRINCIPAL)             1         0.0       3
1     1010615981       CAR LOAN (PRINCIPAL)             1         0.0       3
2     1010615981  MORTGAGE LOAN (PRINCIPAL)             1         0.0       3
3     1010615981     SHARE LOAN (PRINCIPAL)             1         0.0       3
4     1010615981    DRESSING (UPFRONT) LOAN             1         0.0       3
..           ...                        ...           ...         ...     ...
123        51002  HOUSING (MONTHLY) ARREARS             0         0.0       1
124        51005          TRANSPORT ARREARS             0         0.0       1
125        51000             SALARY ACCOUNT             0         0.0       1
126        51012         DRESSING ALLOWANCE             0         0.0       1
127        51005                  TRANSPORT             0         0.0       1

[128 rows x 5 columns]

In [ ]:


conn = pyodbc.connect("DRIVER={ODBC Driver 17 for SQL Server};SERVER=SV001SQL002\CONSOL5INSTANCE2;DATABASE=zenith_gambia;UID=dw_user01;PWD=dw@us3r&0#*1")