In [11]:
import pandas as pd
import pyodbc


conn_string_source = (
    'Driver={ODBC Driver 18 for SQL Server};'
    'Server=stone\\SQLEXPRESS;'
    'Database=AdventureWorksDW2022;'
    'Trusted_Connection=yes;'
    'Encrypt=yes;'  
    'TrustServerCertificate=yes;'  
)


conn_source = pyodbc.connect(conn_string_source)


sql = 'SELECT * FROM [AdventureWorksDW2022].[dbo].[DimCurrency]'


chunksize = 100
df_chunks = pd.read_sql(sql, con=conn_source, chunksize=chunksize)


df = pd.concat(df_chunks, ignore_index=True)

     CurrencyKey CurrencyAlternateKey     CurrencyName
0              1                  AFA          Afghani
1              2                  DZD   Algerian Dinar
2              3                  ARS   Argentine Peso
3              4                  AMD    Armenian Dram
4              5                  AWG   Aruban Guilder
..           ...                  ...              ...
100          101                  KRW              Won
101          102                  JPY              Yen
102          103                  CNY    Yuan Renminbi
103          104                  ZWD  Zimbabwe Dollar
104          105                  PLN            Zloty

[105 rows x 3 columns]

C:\Users\23481\AppData\Local\Temp\ipykernel_26880\2712162166.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_chunks = pd.read_sql(sql, con=conn_source, chunksize=chunksize)

In [13]:
df.head()

   CurrencyKey CurrencyAlternateKey    CurrencyName
0            1                  AFA         Afghani
1            2                  DZD  Algerian Dinar
2            3                  ARS  Argentine Peso
3            4                  AMD   Armenian Dram
4            5                  AWG  Aruban Guilder

In [14]:
pwd

'C:\\Users\\23481\\alfresco'

In [15]:
df.to_csv('sqldata.csv',index=False)